.picContainer {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}
.picContainer span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 70deg)) translateZ(250px);
}
.picContainer span img{
    position: absolute;
    top: 20%;
    left: 0;
    width: 70%;
    height: 50%;
    object-fit: cover;
}