@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;400;500&family=Righteous&display=swap');
* 
{
margin: 0;
padding: 0;
font-family: 'Righteous', cursive;
border-style: border-box;
}
body {
    background-color: #F3EFE0;
}
.navbar {
    background-color: #222222;
}
.navbar a{
    color: #F3EFE0;
}
.navbar .btn {
    background-color: #22A39F;
    color: #F3EFE0;
}
.navbar .btn:hover{
    background-color: #F3EFE0;
    color: #22A39F;
}
.navbar .dropdown-menu {
    background-color: #434242;
}
footer {
    background-color: #222222;
}
footer img {
    width: 20px;
    height: 20px;
    padding: 0px;
}
.bannerAbout {
    background-color: #434242;
    color: #F3EFE0;
    width: 100%;
}
.bannerBtn {
    background-color: #22A39F;
    color: #F3EFE0;
}
.bannerAbout .bannerBtn:hover{
    background-color: #F3EFE0;
    color: #22A39F;
}
.elem {
    background-color: #434242;
    color: #22A39F;
}
.portfolioBtn {
    background-color: #22A39F;
    color: #F3EFE0;
}
.portfolioContainer {
    background-color: #434242;
    color: #F3EFE0;
}
.portfolioContainer img {
    width: 80%;
    /* height: 30%; */
}
.bannerProgressBar {
    background-color: #434242;
    color: #F3EFE0;
}