*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mainContainer {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

.shopcard {
    width: 11rem;
}

img {
    width: 174px;
    height: 250px;
}

.cart {
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

.cartImg > img {
    width: 50px;
    height: 50px;
}

.fontSize {
    font-size: 2em;
}