.nav-brand p{
    display: inline-block;
    color: rgb(94, 85, 85);
    font-family:'Roboto', sans-serif;
    padding-top: 20px;
    box-shadow: 1 1 4 1;
    text-decoration: none;
} 
nav{
    background-color:rgb(220, 176, 220); 
    padding: 2rem 0;
    box-shadow: 1px 1px 4px 0 rgb(68, 66, 66);
}
p{
    color:rgb(94, 85, 85);
    font-weight: 700;
}
















