main {
    background: #F3EFE0; 
}
.bannerVideo {
    width: 100%;
    height: 100vh;
    position: relative;

}
.bannerVideo video{
    height: 100%;
    width: 100%;
}
.bannerText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
main h1{
    height: 100vh;
    line-height: 100vh;
    width: 100%;
    font-size: 20vw;
    background: #ffffff;
    color: #000;
    mix-blend-mode: screen;
}