@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    border-style: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  
}

body{
  background-color: #EEEEEE;
  font-size: 10px;
}
span{
  font-size: 1.5em;
}
.banner {
    background-color:#FF8E9E;
    max-height: 20px;
    color: #FF597B;
}
.navBanner {
    background-color: #F9B5D0;
    color: antiquewhite;
    min-height: 50px;
    /* box-shadow: 0px 5px 15px 5px #050505; */
}
.adsContainer {
  height: 90vh;
  min-width: 100%;
  /* background-image: url('/alternateresize.jpg'); */
  
}
.myButtons {
  max-width: 10em;
  background-color:#EEEEEE;
  font-weight: 700;
}
.myButtons:hover {
  background-color:#FF597B;
}
.adsContainer h2{
  font-weight: bold;
}
.fontCutomColorPink {
  color: #FF597B;
  text-shadow: 0px 2px 3px black;
}
.fontCutomColorWhite{
  color: #EEEEEE;
  text-shadow: 0px 2px 3px black;
}
.myButtonShopNow{
  max-width: 10em;
  background-color:#FF597B;
  font-weight: bold;
}
.myButtonShopNow:hover{
  background-color: #EEEEEE;
}
.logoBanner {
    height: 3em;
    width: 12em;
}
.logInIcon {
    color: #050505;
}
.tradeMarkSpan {
  color: #FF597B;
  font-size: 20px;
}
.carouselbtn {
    width: 30px;
}

.carousel-indicators {
    width: auto;
}

  /* @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  } */
  .dropdownColor{
    background-color: #FAD3E7;
    box-shadow: 0px 2px 2px 0px #050505;
  }
  .dropdown-item:hover{
    background-color: #F273E6;
  }
  .searchbtn {
    background-color: #F4D9E7;
  }
  .searchbtn:hover{
    background-color: #F273E6;
  }
  .NavSecond {
    background-color: #EFA3C8;
  }
  .secondAnchorNav:hover {
    background-color: #F273E6;
  }
  .secondNavSpan {
    font-size: 1em;
    animation: color-change 2s infinite;
    background-color: red;
  }
    @keyframes color-change {
      0% { color: rgb(209, 245, 7)}
      50% { color: rgb(11, 11, 252); }
      100% { color: rgb(198, 231, 10); }
    }
.NavSecond {
  box-shadow: 0px 0px 20px 2px #050505;
}
.mainFooter {
  background-color: #FF8E9E;
}
.footerCopyRight {
  background-color: #F273E6;
  font-weight: bold;
}
/* .sectiontitle {
  background-color: #EFA3C8;
  width: 9em;
} */
.categoriesAnchor {
  border-color: #EFA3C8;
}
.categoriesAnchor:hover {
  background-color: #FF8E9E;
}
.categoriesContainer img{
  height: 80vh;
}
.mainSection {
  font-size: 1em;
}
.categoriesImg{
  width: 350px;
  height: 350px;
}
/* Card Zoom In */
.cardZoom {
  transition: transform .2s;
  /* border: 0.5px solid #050505; */
  min-width: 220px;
  max-height: 350px;
  font-size: 1em;
}
.cardZoom:hover {
  transform: scale(1.022);
}
.cardZoomMainParent{
  overflow-y: hidden;
  overflow-x: scroll;
}
.cardTitleOverride {
  font-size: 15px;
}
.imgCard{
  width: 100%;
}
.bannerImg{
  height: 450px;
}
.defaultContainer {
  min-height: 30vh;
}
.pinkBorder {
  border: 1px solid #F273E6;
}
.imageCardContainer {
  max-height: 70vh;
}
.welcomeContainer {
  max-height: 70vh;
}
.welcomeImg {
  max-height: 70vh
}
.featureContainer {
  min-height: 80vh;
  max-width: 100%;
  
}
.featuredImg {
  max-height: 251px;
}
.featuredBackgroundImg {
  background-repeat: no-repeat;
  min-height: 80vh;
  max-width: 500px;
}
.featureContainerMain {
  min-height: 80vh;
  max-width: 500px;
}